
:root {
    --main-height: 800px;
  }

body {
    font-family: sans-serif;
    font-size: 14px;
    margin: 0;
    background-color: #383838;
}


.header {


    font-size: 20px;
    color :white;
    height: 72px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px;
    overflow: hidden;

}

.main-toolbar {

    background-color: #000000;

    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 16px 12px 8px;
}

.main-toolbar-break {
    
    margin-left: auto;
  
}  


.form-select.custom-dark {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-color: #333;
    color: rgb(238, 238, 238);
    border: 0px;
}

.select-toolbar {
    
    min-width: 80px;
}

.input-group-text.custom-dark {
    
    color: #999;
    background-color: #212529;
    border: 0px;
}
.form-control.custom-dark {
    color: #eee;
    background-color: #474747;
    border: 0px;
}

.toolbar-status {

    font-size: 18px;
}

.toolbar-status.ready {
    color :rgb(158, 203, 255)
}

.toolbar-status.waiting {
    color :#dd3535
}

.share-status {

    color :white;
    font-size: 18px;

}

.share-status.warning {

    color :red;

}

.share-status.appeared {
    transition: none;
    opacity: 1;

}
.share-status.hidden {

    transition: opacity 2s ease-in-out;
    opacity: 0;

}

.button_header {
    font-size: 19px;
    min-width: 80px;
    height: 30px;
}

.main {
    
    background-color: rgb(0, 0, 0);
    display: block;
    width: 100%;
    height: var(--main-height);
    top: 0;
    left: 0;
    right: 0;
}
.main_col {
    position: absolute;
    height: var(--main-height);
    
}
.main_options {
    
    line-height: 2;
    white-space: nowrap;
    overflow: hidden;
}

.main_options_flex {
    display: flex;
    justify-content: space-between;
    align-items:center;
    column-gap: 20px;
}

.main_options_header {
    padding: 0px 10px;
    font-size: 16px;
    color: white;
    background-color: #222;
    height: 30px;

    text-align: center;
}
.main_options_tools {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-content:center;
    flex-wrap: wrap;
    padding: 0px 8px ;
    height: calc(100% - 30px);
    row-gap: 4px;
}
.break {
    flex-basis: 100%;
    height: 0;
  }

.button_options {
    font-size: 15px;
    min-width: 80px;
    height: 25px;
}

.main_options_caption {
    color:#e2e2e2;
}

.select_options {
}

.separator {
    position: absolute;
    pointer-events: auto;
    display: block;
    
    height: var(--main-height);
    width: 10px;
    background-color: #000000;
    transition: background-color 0.2s ease;
    cursor: e-resize;
}
.separator:hover {
    background-color: #444;
}

#code {

    font-size: 14px;
    height: 100%;
}

#output {
    font-size: 12px;
    height: 100%;

    overflow-x: hidden;
    overflow-y: scroll;

    background-color: #1e1e1e;
}

.output_line {
    font-family: Consolas, Menlo, Monaco, monospace;
    width: 100%;

    display: block;
    color: #ffffff;
}

.output_line.test {
    background-color: #003a61;
}

.output_line.success {
    background-color: #006118;
}

.output_line.error {
    background-color: #b90000;
}


.output_line_time {
    color: #787878;
    display: inline-block;
    width: 120px;
    vertical-align:top;
    margin-left: 10px;
}

.output_line_text {
    display: inline-block;
    word-break: break-all;
    margin-block: 0;
    white-space: pre;
}

#file_browser {
    font-size: 14px;
    height: 100%;
    width: 100%;


    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #1e1e1e;
}

.file_line {
    font-family: Consolas, Menlo, Monaco, monospace;


    display: block;
    cursor: pointer;
    
    background-color: #303030;
    color: #ffffff;

    margin-left:10px;
    margin-right:15px;
    margin-bottom:3px;
    margin-top:3px;
    border-radius: 5px;
}

.file_path {
    display: inline-block;
    margin: 5px 10px;
}

.file_path.directory {
    color :#888888;
}

.file_line:has(.selected) {
    background-color :#575757;
}
.file_path.selected {
}

.file_path.runtime {
    font-weight: 900;
}


footer {
    display: flex;
    justify-content: center;

    
    align-items: center;
    color: #d8d8d8;

    padding: 10px;
}

.footer_p {
    font-size: 16px;
    margin: 0px;
}
.footer_p > a {
    
    color: white;
}



::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #383838; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #515151; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #515151; 
  }

  .CodeMirror {
    border: none;
  }

  
*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;

    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

.main_hide_col_button {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 9 9%27%3E%3Cpath fill=%27%23fff%27 d=%27M1.0096 8.0019v-.99809h6.9807v1.9962H1.0096z%27/%3E%3C/svg%3E");
    background-size: 18px;
    width: 18px;
    height: 18px;
    position: absolute;
    top:6px;
    cursor: pointer;
}


.main_open_col_button {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 9 9%27%3E%3Cpath fill=%27%23fff%27 d=%27M0 4.5V0h9v9H0zM8 5V2H1v6h7z%27/%3E%3C/svg%3E");
    background-size: 18px;
    width: 18px;
    height: 18px;
    position: absolute;
    top:8px;
    cursor: pointer;
}

.left_anchor {
    left:10px;
}

.right_anchor {
    right:10px;
}

.main_col_hidden {
    background-color: #222;
    width: 100%;
    height: 100%;
}
.main_col_hidden_header {
    font-size: 18px;
    color: white;
    
}

.main_col_hidden_header.vertical {

    transform: rotate(270deg);
    position: absolute;
    top: 20%;
    white-space: nowrap;

    width: 100%;
    margin: 0 auto;
}

.main_col_hidden_header.horizontal {

    font-size: 16px;
    text-align: center;
    line-height: 2;
}


@media (orientation: portrait)
{
    .main-toolbar-break {
        
        margin-left: none;
    
    }  

}

/* Checkbox */
.checkbox_container {
  display: block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox_icon {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #e2e2e2;
  border-radius: 2px;
}

.checkbox_icon:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox_container input:checked ~ .checkbox_icon:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_container .checkbox_icon:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 





